body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
  font-size: 2rem;
}

#title {
  color: white;
  background-color: #ff4c69;
}

.header-1 {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  text-align: right;
  padding: 0 18px;
}

.navbar-toggler {
  align-items: right;
}

.nav-link {
  font-family: 1.5rem;
  font-weight: "Montserrat-light";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  color: #ef8172;
  text-align: center;
  margin: 10px 115px 10px;
}

.feature-box:hover {
  color: #ff4c68;
}

.feature-p {
  color: #8f8f8f;
  text-align: center;
}

.header-3 {
  font-family: "Montserrat-Bold";
  font-weight: bolder;
  text-align: center;
}

/* Testimonials */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.header-2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  height: 500px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */
.head-card {
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  font-weight: bolder;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action and Footer */
#cta {
  color: white;
  background-color: #ff4c69;
  padding: 7% 15%;
  text-align: center;
}

.cta-h3 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
